/* MOHAMMAD - page accueil */
h1 {
    font-size: 110px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 5px;
    text-align: center;
    background-color: #ffd75d;
    margin: 0;
}
.same {
    color: black !important;
}
#logo{
    display: block;
    margin: 0 auto;

}
input{
    background-color: rgb(214, 214, 214);
    height: 70px;
    width: 500px;
    font-size: 2em;
    border: solid 1px;
    border-radius: 30px;
}
button#search{
    font-size: 4em;
    border: solid 1px;
    border-radius: 30px;
}
.header {
    border: solid 1px;
}
/* Modification de style de pointeur menu */

.navbar_item:hover::before{
    width: 500px;
    transition: all .8s ease;
    top: 100%;
}
/* Paramètres navbar */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar {
    background-color: rgb(255, 215, 93);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    width: 60%;
    margin: 0 auto;
    border-radius: 90px;
    border: black solid 1px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
.navbar_item {
    flex: 1 1 auto;
    width: 20em;
    text-align: center;
    padding: 1em 0;
    transition: all .5s;
    position: relative;
}

.navbar_link{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
    display: inline-flex;
    align-items: center;
}
.navbar_item:hover{
    background-color: rgba(144, 251, 155, 0.53);
    color: #000000;
    text-shadow: 1px 2px 3px 4px rgb(0, 0, 0);
    transition: all .5s;
    border-radius: 90px;
}
.navbar_item:hover .navbar_link{
    color: #cc9e3f;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    display: inline-flex;
    white-space: nowrap; /*empêche compressement lors du zoom*/
    width: fit-content;
}
nav ul li {
    font-size: 2em;
}

/*structure principale de mon site*/
body {
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-decoration: #6a6a69;
}

/*conteneur principal de la page principale*/
main {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

article {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 2px solid;
    border-color: #000000;
    border-radius: 100px;
    width: 70%;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0))               /*pour effet de lumière*/
    drop-shadow(0 0 30px rgb(198, 125, 125));
}

div#Introduction {
    display: flex;
    max-width: 80%;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    color: #000000;
    text-align: justify;
    text-align-last: center;
    line-height: 1.3;
    padding: 20px 30px;
    margin: 100px auto 30px;
}

div#Introduction::first-letter {
    font-size: 5em;
    font-weight: bold;
}

div#Maliketh {

    display: flex;
    max-width: 80%;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    color: #000000;
    text-align: justify;
    text-align-last: center;
    line-height: 1.3;
    margin: 30px auto;
    padding: 20px 30px;
}

div#Maliketh::first-letter {
    font-size: 2em;
    font-weight: bold;
}

img#ylang {
    height: 700px;
    width: 1000px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0))             /*pour effet de lumière*/
    drop-shadow(0 0 20px rgb(255, 255, 255));
    opacity: 0;
    transform: scale(0.9);
    animation: apparition 1.5s ease-out forwards;
}

@keyframes apparition {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

img#image2 {
    height: 500px;
    width: 800px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0))              /*pour effet de lumière*/
    drop-shadow(0 0 20px rgb(255, 255, 255));
}

img#image3 {
    height: 500px;
    width: 800px;
    border-radius: 100%;
    display: block;
    margin: 20px auto;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0))             /*pour effet de lumière*/
    drop-shadow(0 0 20px rgb(255, 255, 255));
}

/* DAVID - page histoire */

body {
    transition: 1s;
}
.night-toggle {
    width: 33px;
    height: 33px;
    right: 400px;
    top: 20px;
    position: absolute;

}
.night-toggle:hover{
    cursor: pointer;
}
.moon {
    background-color: transparent;
    box-shadow: -6px 1px 0 3px #275e8e;
    border-left:3px solid #27476D;
    border-radius:50%;
    width: 50px;
    height: 50px;
    margin-left:8px;
    margin-top:0px;
    transition: 0.25s;
}
.sun {
    background-color: #870748;
    box-shadow: 2px 0px 0px 1px #D19C29;
    border-radius:50%;
    width: 50px;
    height: 50px;
    transition: 0.25s;
}

/* CLEMENT - page produits */

/* FARES - page contact */
